<div style="width: 50%;" class="ml-auto mr-auto">
	<h3><%= link_to 'All Interviews', interviews_path ,class: 'btn btn-success' %></h3><br>
<h2>Edit Interview using the below form</h2>
		<% if @i.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@i.errors.count, "error") %> prohibited
        this Interview from being saved:
      </h2>
      <h3>
      <ul>
        <% @i.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  </h3>
    </div>
  <% end %>
  <h4>
	<%= form_with(model: @i, local: true) do |f| %>

		<div>
			<%= f.label :title %><br>
		    <%= f.text_field :title   ,class: 'form-control'%>
		</div>
		  	
		<div>
			<%= f.label :start %>
			<%= f.date_field :start,  class: 'form-control' %>
		</div>
		<div>
			<%= f.label :start_time %>
			<% if @i.start? %>
				<%= f.time_field :start_time,  :value => @i.start.strftime("%H:%M:%S"),  class: 'form-control' %>
			<% else %>
				<%= f.time_field :start_time,  class: 'form-control' %>
			<%end%>
		</div>
		<div>
			<%= f.label :finish %>
			<%= f.date_field :finish,  class: 'form-control' %>
		</div>
		<div>
			<%= f.label :finish_time %>
			<% if @i.finish? %>
				<%= f.time_field :finish_time,  :value => @i.finish.strftime("%H:%M:%S"),  class: 'form-control' %>
			<% else %>
				<%= f.time_field :finish_time,  class: 'form-control' %>
			<%end%>
		</div><br>
		<div>
			<%= f.label :user %><br>
		    <p>Press Ctrl to select multiple users</p>
		    <%= f.collection_select :users , User.all , :id , :name, {include_blank: false , selected: @i.user_ids} , {multiple: true}    %>

		</div>
		<%= f.submit %>
	<% end %>
</h4>
</div>