<!--<div class="justify-content-center ml-auto mr-auto container">

<h1>List of all interviews</h1>
	<h3>
		<%= link_to 'Schedule New Interview', new_interview_path , class: 'btn btn-success'%>
		<%= link_to 'View Users', users_path , class: 'btn btn-warning'%>
		<%= link_to 'Create New User', new_user_path , class: 'btn btn-success'%>
	</h3>
		<table class="table table-stripped">
		<thead>
			<td>Sr. No</td>
			<td>Title</td>
			<td >Start</td>
			<td >End</td>
			<td colspan="3">Actions</td>
		</thead>
		<% @cnt=0 %>
		<% @i.each do |i| %>
	    	<tr>
	    		<h4>
	    			<% @cnt=@cnt+1 %>
		    	<td><%= @cnt %></td>
		    	<td><%= i.title %></td>
		    	<td><%= i.start %> </td>
		    	<td><%= i.finish%> </td>
		    	<td><%= link_to 'View', '/interviews/'+String(i.id) , class: 'btn btn-success' %></td>
		    	<td><%= link_to 'Edit', edit_interview_url(i) , class: 'btn btn-warning' %></td>
		    	<td><%= link_to 'Delete', interviews_path+'/'+String(i.id), method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-danger' %></td>
		    	</h4>
		    </tr>
	    <%end%>
	    </table>

</div>-->