<div class="justify-content-center ml-auto mr-auto container">
<h3><%= link_to 'Home', interviews_path , class: 'btn btn-success'%></h3>
<h1>New Interview Creation Page</h1>
<h4>
	<%= form_with scope: :interview , url: interviews_path, local: true do |f| %>
		<div>
			<%= f.label :title %>
			<%= f.text_field :title, class: 'form-control' %>
		</div>
		<div>
			<%= f.label :start %>
			<%= f.date_field :start,  class: 'form-control' %>
		</div>
		<div>
			<%= f.label :start_time %>
			<%= f.time_field :start_time,  class: 'form-control' %>
		</div>
		<div>
			<%= f.label :finish %>
			<%= f.date_field :finish,  class: 'form-control' %>
		</div>
		<div>
			<%= f.label :finish_time %>
			<%= f.time_field :finish_time,  class: 'form-control' %>
		</div><br>
		<div>
			<%= f.label :user %><br>
		    <p>Press Ctrl to select multiple users</p>
		    <%= f.collection_select :users, User.all , :id , :name ,  {include_blank: false} , {multiple: true}    %>

		</div>
		<%= f.submit %>
	<%end%>
</h4>
</div>